<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ByteMobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Bold.otf</string>
		<string>IBMPlexMono-ExtraLight.otf</string>
		<string>IBMPlexMono-ExtraLightItalic.otf</string>
		<string>IBMPlexMono-Italic.otf</string>
		<string>IBMPlexMono-Light.otf</string>
		<string>IBMPlexMono-LightItalic.otf</string>
		<string>IBMPlexMono-Medium.otf</string>
		<string>IBMPlexMono-MediumItalic.otf</string>
		<string>IBMPlexMono-Regular.otf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-SemiBold.otf</string>
		<string>IBMPlexMono-SemiBoldItalic.otf</string>
		<string>IBMPlexMono-Text.otf</string>
		<string>IBMPlexMono-TextItalic.otf</string>
		<string>IBMPlexMono-Thin.otf</string>
		<string>IBMPlexMono-ThinItalic.otf</string>
		<string>IBMPlexSans-Bold.otf</string>
		<string>IBMPlexSans-BoldItalic.otf</string>
		<string>IBMPlexSans-ExtraLightItalic.otf</string>
		<string>IBMPlexSans-Italic.otf</string>
		<string>IBMPlexSans-Light.otf</string>
		<string>IBMPlexSans-LightItalic.otf</string>
		<string>IBMPlexSans-Medium.otf</string>
		<string>IBMPlexSans-MediumItalic.otf</string>
		<string>IBMPlexSans-Regular.otf</string>
		<string>IBMPlexSans-SemiBold.otf</string>
		<string>IBMPlexSans-SemiBoldItalic.otf</string>
		<string>IBMPlexSans-Text.otf</string>
		<string>IBMPlexSans-TextItalic.otf</string>
		<string>IBMPlexSans-Thin.otf</string>
		<string>IBMPlexSans-ThinItalic.otf</string>
		<string>IBMPlexSerif-Bold.otf</string>
		<string>IBMPlexSerif-BoldItalic.otf</string>
		<string>IBMPlexSerif-ExtraLight.otf</string>
		<string>IBMPlexSerif-ExtraLightItalic.otf</string>
		<string>IBMPlexSerif-Italic.otf</string>
		<string>IBMPlexSerif-Light.otf</string>
		<string>IBMPlexSerif-LightItalic.otf</string>
		<string>IBMPlexSerif-Medium.otf</string>
		<string>IBMPlexSerif-MediumItalic.otf</string>
		<string>IBMPlexSerif-Regular.otf</string>
		<string>IBMPlexSerif-SemiBold.otf</string>
		<string>IBMPlexSerif-SemiBoldItalic.otf</string>
		<string>IBMPlexSerif-Text.otf</string>
		<string>IBMPlexSerif-TextItalic.otf</string>
		<string>IBMPlexSerif-Thin.otf</string>
		<string>IBMPlexSerif-ThinItalic.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
